<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <style type='text/css'>

        a, a:visited {
            color: #4B7CAB;
        }

        div {
            padding: 5px;
        }

        h2 {
            margin: 0;
        }

        .summary td {
            font-size: .8em;
            text-align: center;
            width: 150px;
        }

        .failed td {
            font-size: .8em;
        }
    </style>
    
    <title>Test Results</title>
  </head>

  <body style="font-family: GeosansLightRegular,Arial,Helvetica,sans-serif; font-size: 1em">
    <div style="float: left;">
      <img src="images/face.jpg" width="200" />
    </div>
    <div style="float: left;">
      <h2 style="color: #282828; margin-top: 12px; margin-bottom: 15px;">Test Results</h2>
      <span>Tests started: <%= start_time %></span>
      <br />
      <span>Duration: <%= total_duration %></span>
    </div>
    
	  <div style="width: 99%; margin-top: 15px; float: left; -moz-border-radius: 15px; border-radius: 15px; background-color: #E0E0E0">
      <h2 style="color: white; margin-left: 5px; margin-top: 5px;">Summary</h2>

      <table cellspacing="0" cellpadding="7" class="summary">
        <tr>
          <th></th>
          <th>Executed</th>
          <th>Passed</a></th>
          <th>Failed</a></th>
          <th>Skipped</a></th>
          <th>Undefined</a></th>
          <th>Pending</a></th>
          <th>Average<br/>Duration</th>
        </tr>
        <tr>
          <td style="text-align: left; font-size: 1em; font-weight: bold">Scenarios</td>
          <td><%= scenario_count %></td>
          <td><%= passed_scenarios_summary %></td>
          <td><%= failed_scenarios_summary %></td>
          <td><%= skipped_scenarios_summary %></td>
          <td><%= undefined_scenarios_summary %></td>
          <td><%= pending_scenarios_summary %></td>
          <td><%= scenario_average_duration %></td>
        </tr>
        <tr>
          <td style="text-align: left; font-size: 1em; font-weight: bold">Steps</td>
          <td><%= step_count %></td>
          <td><%= passed_steps_summary %></td>
          <td><%= failed_steps_summary %></td>
          <td><%= skipped_steps_summary %></td>
          <td><%= undefined_steps_summary %></td>
          <td><%= pending_steps_summary %></td>
          <td><%= step_average_duration %></td>
        </tr>
      </table>
    </div>

    <div style="width: 100%; float: left;">
      <br />
      <h2 style="color: #A00000; margin-top: 15px; margin-left: 5px;">Tests With Failures:</h2>
      <br />
      <table cellspacing="0" cellpadding="7" border="0" class="failed">
        <tr style="background-color: #E0E0E0;">
          <th></th>
          <th style="text-align: left;">Feature</th>
          <th style="text-align: left;">Scenario</th>
          <th style="text-align: left;">File</th>
        </tr>
        <% features.each do |feature| %>
          <% feature.feature_elements.each do |scenario| %>
            <% if is_failed_scenario scenario %>
        <tr>
          <td><img src="images/failed.jpg" width="30"/></td>
          <td><%= feature.title %> </td>
          <td><%= scenario.name %></td>
          <td style="color: gray;"><%= scenario.file_colon_line %></td>
        </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
        
      <br />
      <h2 style="color: #4B7CAB; margin-top: 15px; margin-left: 5px;">Scenario Overview:</h2>
      <br />

      <table cellspacing="0" cellpadding="7" border="0" class="failed">
        <tr style="background-color: #E0E0E0;">
          <th style="text-align: left;">Result</th>
          <th style="text-align: left;">Name</th>
          <th style="text-align: left;">File</th>
          <th style="text-align: left;"># Steps</th>
        </tr>
        <% features.each do |feature| %>
        <tr>
          <td style="background-color: #F0F0F0; font-size: 0.9em;" colspan="4">Feature: <%= feature.title %></td>
        </tr>
          <% feature.feature_elements.each do |scenario| %>
        <tr>
          <td><%= image_tag_for scenario %></td>
          <td><%= scenario.name %></td>
          <td style="color: gray;"><%= scenario.file_colon_line %></td>
          <td><%= scenario.raw_steps.length %></td>
        </tr>
            <% if scenario.instance_of? Cucumber::Ast::ScenarioOutline %>
              <% scenario.each_example_row do |row| %>
        <tr>
          <td><%= image_tag_for row %></td>
          <td colspan="3">|&nbsp
                <% row.to_hash.each do |key, value| %>
            <%= "#{key}: #{value} |" %>
                <% end %>
          </td>
        </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

      </table>
    </div>
    
    <div style="width: 100%; background-color: #4B7CAB; float: left; margin-left: -7px; margin-top: 25px; font-family: Verdana; font-size: 0.8em; color: white">Generated by PrettyFace</div>
    
  </body>
</html>
